<h1>
  <%= @diff.base.title %>..<%= @diff.head.title %>
</h1>

<p><%= @diff.snapshots.size %> images, <%= @diff.percentage %>% different</p>

<a href="/">Back</a>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Base</th>
      <th>Head</th>
      <th>Diff</th>
    </tr>
  </thead>
  <tbody>
    <% image_height = 250 %>
    <% @diff.snapshots.each do |snapshot| %>
      <tr>
        <td>
          <%= snapshot.name %> (<%= snapshot.percentage %>%)

        </td>
        <td>
          <img style="max-height:<%= image_height %>px;" src="/img/<%= @diff.base.sha %>/<%= snapshot.name %>" />
        </td>
        <td>
          <img style="max-height:<%= image_height %>px;" src="/img/<%= @diff.head.sha %>/<%= snapshot.name %>" />
        </td>
        <td>
          <img style="max-height:<%= image_height %>px;" src="/img/<%= @diff.base.sha %>/<%= @diff.head.sha %>/<%= snapshot.whole_name %>" />
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
