<h1>Snapshots</h1>
<div class="pure-g">
  <div class="pure-u-1">
    <span>
      Current: <code><%= @current_commit.title %></code> (<%= @current_commit.timeago %>)
      <form action="/snapshot" method="POST" style="display: inline;">
        <button class="pure-button pure-button-primary">
          take snapshot
        </button>
      </form>
    </span>
    <p>Master: <code><%= @master_commit.title %></code> (<%= @master_commit.timeago %>)</p>
  </div>
</div>


<table class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th>commit</th>
      <th>diffs</th>
      <th></th>
    </tr>
  <thead>
  <tbody style="background-color: white;">
    <% sorted_commits = @commits.sort_by { |c| -c.timestamp } %>
    <% sorted_commits.each do |commit| %>
      <tr>
        <td>

          <p><code><%= commit.title %></code></p>
          <p>
            <%= commit.timeago %>
            <%= commit.sha == @current_commit.sha ? " (current)" : "" %>
            <%= commit.sha == @master_commit.sha ? " (master)" : "" %>
          </p>
        </td>
        <td>
          <ul class="pure-menu-list">
            <% commit.diffs.each do |diff| %>
              <li lass="pure-menu-item">
                <a href="/diff/<%= diff.base.sha %>/<%= diff.head.sha %>">
                  <%= diff.head.title %> (<%= diff.percentage %>%)
                </a>
                <form action="/delete/<%= diff.base.sha %>/<%= diff.head.sha %>" method="post" style="display: inline;">
                  <button type="submit" class="pure-button">&times;</button>
                </form>
              </li>
            <% end %>
            <li>
              <form action="/diff" method="post" class="pure-form">
                <input type="hidden" name="base_sha" value="<%= commit.sha %>" />
                <select name="head_sha">
                  <% sorted_commits.each do |target_commit| %>
                    <% if target_commit.sha != commit.sha %>
                      <option value="<%= target_commit.sha %>">
                        <%= target_commit.title %>
                      </option>
                    <% end %>
                  <% end %>
                </select>
                <button type="submit" class="pure-button">create</button>
              </form>
            </li>
          </ul>
        </td>
        <td>
          <form action="/delete/<%= commit.sha %>" method="post">
            <button type="submit" class="pure-button">&times; delete snapshot</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
