<h1>Snapshots</h1>
<div class="pure-g">
  <div class="pure-u-1">
    <p>
      <code><%= @current_commit.branch %></code>
      compared to
      <form action="/diff" method="post">
        <input type="hidden" name="head_sha" value="<%= @current_commit.sha %>" />
        <select name="base_sha" onchange="this.parentElement.submit()">
          <option value="">Choose a base</option>
          <% @all_commits.each do |commit| %>
            <% if commit.sha != @current_commit.sha %>
              <option
                <%= (@base_commit && @base_commit.sha == commit.sha) ? "selected" : "" %>
                value="<%= commit.sha %>"
              >
                <% if commit.branch.empty? %>
                  <%= commit.message %>
                <% else %>
                  <%= commit.branch + " (#{commit.message})" %>
                <% end %>
              </option>
            <% end %>
          <% end %>
        </select>
      </form>
    </p>
    <p>
      Last Commit: <code><%= @current_commit.message %></code> (<%= @current_commit.author %>)
    </p>
    <p>
      Last Updated: <%= @diff.timeago %>
      <form action="/snapshot" method="POST" style="display: inline;">
        <button class="pure-button pure-button-primary">
          update
        </button>
      </form>
    </p>
  </div>
</div>

<div style="display: flex; justify-content: space-between;">
  <div>
    <% @diff.dimensions.each do |dim| %>
      <% dim_s = dim.join("x") %>
      <a class="pure-button <%= @dimension == dim_s  ? "pure-button-active" : "" %>" href="/setting/dimension/<%= dim_s %>">
        <%= dim_s %>
      </a>
    <% end %>
  </div>
  <% if @hidden_snapshots.any? %>
    <a href="/hide">Show all (<%= @hidden_snapshots.length %> hidden)</a>
  <% end %>
  <div>
    <a class="pure-button <%= @size == "small" ? "pure-button-active" : "" %>" href="/setting/size/small">small</a>
    <a class="pure-button <%= @size == "big" ? "pure-button-active" : "" %>" href="/setting/size/big">big</a>
  </div>
</div>

<% snapshots = @diff.snapshots %>
<% snapshots.reject! { |s| @hidden_snapshots.include?(s.name) } %>
<% snapshots.select! { |s| @dimension.nil? || @dimension == s.dimension_s } %>

<div>
  <% snapshots.each do |snapshot| %>
    <div class="snapshot-<%= @size %>">
      <p>
        <%= snapshot.percentage %>%
        <%= snapshot.name %>
        <a href="/hide/<%= snapshot.name %>">hide diff</a>
      </p>
      <div style="display:flex;">
        <img src="/img/<%= @diff.base.sha %>/<%= snapshot.base_name %>" />
        <% if @righthand == "diff" %>
          <a href="/setting/righthand/new">
            <img src="/img/<%= @diff.base.sha %>/<%= @diff.head.sha %>/<%= snapshot.whole_name %>" />
          </a>
        <% else %>
          <a href="/setting/righthand/diff">
            <img src="/img/<%= @diff.head.sha %>/<%= snapshot.base_name %>" />
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
